/* body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
} */

/* gradient for navbar*/
nav {
	background: rgb(94, 6, 106);
	background: linear-gradient(
		0deg,
		rgba(94, 6, 106, 1) 0%,
		rgba(130, 57, 140, 1) 80%
	);
	color: #ffffff;
}

/*button styling*/
.btn {
	background-color: #000000;
	color: #ffffff;
	border: 0;
	font-weight: 500;
	-webkit-appearance: none;
}

/* link styling
.a {
	color: #ffffff;
} */

/*card hover state*/
.navCard {
	transition: box-shadow 0.3s;
}

.navCard:hover {
	box-shadow: 0 0 5px rgba(130, 57, 140, 0.4);
}

/*default color for titles*/
.titles {
	color: #82398c;
}

/* form input group slight hover*/
.input-group {
	transition: box-shadow 0.3s;
}

.input-group:hover {
	box-shadow: 0 0 5px rgba(130, 57, 140, 0.2);
}

/*link styling + hover state*/
a {
	color: #f7f5f5;
}

a:hover {
	color: #ddd6d6;
}
